" ==============================================================================
" 基本設定 (Basic)
" ==============================================================================
set modeline           " ファイルの先頭や末尾の設定 (`vim: ...`) を有効化する
set virtualedit=block  " 文字の無いところまで矩形選択を可能にする


" ==============================================================================
" 表示設定 (Display)
" ==============================================================================
set showmatch     " 対応するカッコを強調する
set visualbell    " ビジュアルベルを有効化
set noerrorbells  " ベルの音を鳴らさない

" 不可視文字の表示
set list  " スペースなどの不可視文字を↓で可視化する
set listchars=tab:»-¦,trail:<,extends:»,precedes:«,nbsp:%  " TAB / 行末スペース / はみ出し / NO-BREAK SPACE

" 折りたたみ設定
set foldenable         " 折りたたみを有効化する
set foldlevel=99       " デフォルトではすべて開いた状態とする
set foldmethod=indent  " インデント部分で自動的に折りたたむ


" ==============================================================================
" 検索設定 (Search)
" ==============================================================================
set hlsearch    " 検索結果をハイライトする (<ESC><ECS> でハイライトを消す)
set ignorecase  " 大文字・小文字を区別しない
set incsearch   " インクリメンタルサーチする
set smartcase   " 検索文字列に大文字が含まれている場合は区別する


" ==============================================================================
" システム連携 (System)
" ==============================================================================
set clipboard+=unnamed


" ==============================================================================
" 補完
" ==============================================================================
" set complete=o,.^10,b^10,w^5,u^5     " 補完候補をどこから持ってくるかの設定
set completeopt=fuzzy,popup,preview  " 補完にファジーマッチ・ポップアップ・プレビューを利用する


" ==============================================================================
" キーマッピング (Keymap)
" ==============================================================================
" Normal / Visual モードでは論理行ではなく物理行で移動する
nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk

" Ctrl-* でウィンドウ間を移動する
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h


set highlightedyank
set matchit
set surround

" vim: ft=vim
